@font-face {
    font-family: pirateOne;
    src: url("./assets/PirataOne-Regular.ttf");
}

body {
    color: #4b3f2f; /* Dark brown */
    font-family: "Georgia", serif; /* Classic serif font */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

h1,
h2 {
    color: #64442b; /* Medium brown */
    font-family: pirateOne;
}

.navbar {
    background-color: #d4b483; /* Soft tan */
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}

.navbar a {
    color: #000000; /* Dark brown */
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.pirate-card {
    background-color: #f0e4d7; /* Light cream */
    border: 1px solid #8b5e3b; /* Medium brown */
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #8b5e3b; /* Medium brown */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #d4b483; /* Soft tan */
}

form {
    background-color: #f0e4d7; /* Light cream */
    padding: 15px;
    border-radius: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #8b5e3b; /* Medium brown */
    border-radius: 5px;
}

.selected {
    outline: 3px solid #d4b483; /* Soft tan */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-buttons {
    margin-top: 20px;
    background-color: #d4b483; /* Soft tan */
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}

.home-buttons a {
    color: #000000; /* Dark brown */
    text-decoration: none;
    border: 5px #000 solid;
    border-radius: 10px;
    padding: 3px 9px 3px 9px;
}

.home-buttons a:hover {
    text-decoration: underline;
}

.pirate-img-home {
    width: 200px;
}
